h1,
h2 {
	font: 32px/42px trajan-pro-1,trajan-pro-2;
	font-style: italic;
}

body {
	background-color: #889985;
	background-image: url("green_cup.png");
    font-family: Helvetica, Arial;
    font-size: 0.75em;
}

#user_input,
#output {
	text-align: center;
	width: 300px;
	height: 215px;
	border-width: 1px;
    border-color: #000000;
}

#bnf_text {
	width: 400px;
    height: 564px;
    border-width: 1px;
    border-color: #000000;
}

#examples {
	width: 675px;
	height: 515px;
	border-width: 1px;
    border-color: #000000;

}

#abs_syn {
	width: 574px;
	height: 350px;
	border-width: 1px;
    border-color: #000000;
}